body {
  background-color: rgb(61, 184, 255);
  color: white;
  font-family: dosis, "Times New Roman", Times, serif;
}
.current {
  position: relative;
  top: 0;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
input,
button {
  border-radius: 5px;
  margin: 3px;
}

.current img {
  border-radius: 40%;
}
.popBox {
  height: 80%;
  width: 130px;
  /* padding-top: 3px; */
  background-color: rgb(36, 116, 162);
  border: solid 3px white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.popBox > p {
  width: 50px;
}
.popContainer {
  position: relative;

  height: 100%;
  width: 50px;
  /* border-radius: 10px; */
  background-color: white;
}
.popContainer p {
  position: absolute;
  font-weight: 500;
  color: black;
  top: 38%;
  left: 10%;
}

#popBar {
  position: absolute;
  height: 0;
  width: 100%;
  /* border-radius: 10px; */
  padding-top: 2px;
  background-color: rgb(70, 162, 223);
  bottom: 0px;
  transition: all 2000ms;
}
.preLoad {
  height: 0;
}
h1 {
  line-height: 10px;
}

/* Containers including text */
.hourly,
.daily {
  margin: 25px 5px;
  height: 300px;
  padding: 10px;
  display: flex;
  background-color: rgb(54, 167, 233);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: solid, 3px, white;
  border-radius: 10px;
}
/* ONLY the array of divs */
.hours,
.days {
  margin-bottom: 10px;
  width: 515px;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.hourContainer,
.dayContainer {
  background-color: rgb(71, 178, 241);
  height: 97%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 150px;
  margin: 3px 10px;
  border: solid, 2px, white;
  border-radius: 10px;
  overflow: hidden;
}
#hourRightArrow,
#hourLeftArrow,
#dayRightArrow,
#dayLeftArrow {
  position: absolute;
  height: 50px;
  width: 40px;
}
#hourRightArrow,
#dayRightArrow {
  right: 30px;
}
#hourLeftArrow,
#dayLeftArrow {
  left: 30px;
}

.dayContainer h2 {
  font-size: 20px;
}
.dayContainer p,
.hourContainer p {
  /* display: none; */
  margin: auto;
  position: absolute;
  border-radius: 10px;
  background-color: rgb(36, 116, 162);
  padding-top: 50px;
  padding-bottom: 170px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  opacity: 0%;
  font-size: 10px;
  transition: all 1s;
}

@media (min-width: 800px) {
  .popBox {
    width: 200px;
  }

  .hours,
  .days {
    width: 685px;
  }
}
@media (min-width: 1000px) {
  .hours,
  .days {
    width: 865px;
  }
}
@media (min-width: 1200px) {
  .hours,
  .days {
    width: 1050px;
  }
}
@media (min-width: 1400px) {
  #hourRightArrow,
  #hourLeftArrow,
  #dayRightArrow,
  #dayLeftArrow {
    display: none;
  }
  .hours,
  .days {
    width: 100%;
  }
}
